* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "figtree", sans-serif;
}

body {
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

#BMW-card-container {
    width: 384px;
    height:565px;
    background-color:white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 8px white;
    padding: 1.2rem;
     margin: 3rem auto;
}

.BMW-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BMW-card-img img {
    border-radius: 10px;
}

.BMW-card-text {
    margin-top: 1.2rem;
    margin-left: 5px;
}

.Black-bg {
    background-color:black;
    padding: 4px 12px;
    border-radius: 4px;
    width: 90px;

}
.published-date {
    font-size: 14px;
    font-weight: 500;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.BMW-post-title {
    font-size: 24px;
    font-weight: 800;
    margin-top: .7rem;
    margin-bottom: 1rem;
    transition: color .2s ease-in;
}

.BMW-post-title:hover {
    color: black;
}

.BMW-text {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.BMW-post-avatar-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}
.BMW-post-avatar-container h4 {
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 800;
}