* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "figtree", sans-serif;
}

body {
    background-color: hsl(47, 88%, 63%);
}

a {
    color: hsl(0, 0%, 7%);
    text-decoration: none;
}

#preview-card-container {
    width: 384px;
    height:565px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 8px hsl(0, 0%, 7%);
    padding: 1.2rem;
     margin: 3rem auto;
}

.preview-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-card-img img {
    border-radius: 10px;
}

.preview-card-text {
    margin-top: 1.2rem;
    margin-left: 5px;
}

.yellow-bg {
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px;
    border-radius: 4px;
    width: 90px;

}
.published-date {
    font-size: 14px;
    font-weight: 500;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.blog-post-title {
    font-size: 24px;
    font-weight: 800;
    margin-top: .7rem;
    margin-bottom: 1rem;
    transition: color .2s ease-in;
}

.blog-post-title:hover {
    color: hsl(47, 88%, 63%);
}

.preview-text {
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.blog-post-avatar-container {
    display: flex;
    align-items: center;
}
.blog-post-avatar-container h4 {
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 800;
}